<main class="max-w-2xl w-full h-screen bg-pink-300 m-auto">
  <!-- Sección 1 -->
  <section class="w-full h-full bg-[url(/assets/fotos/foto-1.jpg)] bg-cover flex items-center justify-center">
    <div class="bg-black/20 backdrop-invert backdrop-opacity-10 h-screen w-full flex items-center justify-center">
      <h2 class="font-parisienne text-7xl text-white mt-96 text-center">
        Maia
        <br>
        <span class="mb-32 text-4xl font-extralight">mis 15</span> 
        <br>
      </h2>
    </div>
  </section>
  

  <section class="w-full h-full bg-[url(/assets/fotos/foto-2.jpg)] bg-cover flex items-center justify-center">
    <div class="bg-black/20 backdrop-invert backdrop-opacity-10 h-screen w-full flex items-center justify-center">
      <h1 class="font-serif text-2xl text-white mt-96 text-center">
        Los momentos más importantes, <br>merecen ser compartidos.
      </h1>
    </div>
  </section>

  <section class="flex items-center justify-center flex-col">
    <img src="../assets/svg/ball.svg" class="size-40">
    <p class="font-parisienne text-6xl ">La fiesta</p>

    <div class="flex flex-col items-center justify-center p-4 gap-4">
      <img src="../assets/fotos/foto-3.jpg" class="rounded-3xl">
      
      <h1 class="font-bold text-2xl">Hilario Eventos</h1>
      <div class="flex flex-col items-start justify-center gap-2 mt-10">
        <h1 class="font-bold">Dia y horario: <span class="font-normal">12 de abril, 22:00 - 06:00</span></h1>
        <h1 class="font-bold">Lugar: <span class="font-normal">T4103 Tafí Viejo, Tucumán</span></h1>
      </div>
    </div>

    <button class="bg-blue-500 text-white font-bold py-4 px-8 max-w-60 w-full rounded-full">
      <span>Ver Direccion</span>
    </button>
  </section>

  <section class="">
  </section>

  <section>
  </section>
  <div class="max-w-sm mx-auto p-4 bg-white rounded shadow-md">
    <p class="mb-1"><strong>Código de vestimenta:</strong> Elegante (evitar lila y dorado)</p>
    <p class="mb-2">
      <strong>Canción especial:</strong>
      <a href="https://www.youtube.com/" target="_blank" class="text-blue-600 hover:text-blue-800 transition-colors">
        YouTube Link
      </a>
    </p>
    <hr class="my-2">
    <h2 class="text-lg font-semibold mb-2">Regalos</h2>
    <p class="mb-1"><strong>CBU:</strong> 4530000800013105252070</p>
    <p><strong>Nombre:</strong> Sofia Del Milagro Mansilla</p>
  </div>
</main>